@model LeisureTimeSystem.Models.ViewModels.ChangeStatusApplicationViewModel


@using (Html.BeginForm())
{
    @Html.HiddenFor(model=>model.CourseId)
    @Html.HiddenFor(model=>model.StudentId)
    
    @Html.EnumDropDownListFor(model=>model.Status, "Change Status", new { @class = "form-control" })

    <div class="form-group">
        <input type="submit">
    </div>

}