@model IEnumerable<LeisureTimeSystem.Models.ViewModels.DisciplineViewModel>
@{
    ViewBag.Title = "ShowDisciplines";

}

<head>
    <link id="bs-css" href="~/Content/3.css" rel="stylesheet">
</head>

<h2>ShowDisciplines</h2>





<div class="row">
    @foreach (var vm in this.Model)
    {

        <div class="col-md-3" style="margin-top: 50px">
            <img src="@vm.PicturePath" alt="Smiley face" style="float: left; width: 80px; height: 80px; ">

            <div class="dropdown">
                <button class="dropbtn">@vm.Name</button>

                <div class="dropdown-content">
                    @Html.ActionLink("Organizations", "All", "Organization", new { disciplineId = vm.Id }, null)
                    @Html.ActionLink("Courses", "DisciplineCourses", "Course", new { disciplineId = vm.Id }, null)
                </div>
            </div>
        </div>
    }
</div>
