@model IEnumerable<LeisureTimeSystem.Models.ViewModels.DisciplineViewModel>
@{
    ViewBag.Title = "ShowDisciplines";
}

<h2>ShowDisciplines</h2>



@foreach (var vm in this.Model)
{
    <div class="dropdown">
        <button class="dropbtn">@vm.Name</button>

        <div class="dropdown-content">
            @Html.ActionLink("Organizations", "All", "Organization", new { disciplineId = vm.Id }, null)
            @Html.ActionLink("Courses", "DisciplineCourses", "Course", new { disciplineId = vm.Id }, null)
        </div>
    </div>
}

