body {
    padding-top: 0px;
}

.register {

    width:215px;
    font-size: 12px;
    position: absolute;
    right: 0px;
    top: 0px;
}


.bar {
    width: 80%;
	text-align:center;
    margin-top: 0.5%;
    margin-left: 6%;
}

.navbar-inverse .navbar-nav > li {
    color: black;
}

.navbar-inverse {
    background-color: bisque;

}

.navbar-inverse .navbar-nav > li > a {
    color: black;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {    background-color: bisque;
}

.navbar-inverse .navbar-nav > li > a:hover {    color: black;
}
